.banner{
    width: 100%;
    height: 50vh;
    margin-top: 40px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../image_folder/banner.jpg);
}
.banner .content{
    text-align: center;
    padding-top: 100px;
}
.banner .content h1{
    color: rgb(42, 59, 123);
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
.banner .content p{
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
#bannerbtn button{
    width: 150px;
    height: 38px;
    background: transparent;
    color: white;
    border: 2px solid white;
    transition: 0.5s ease;
    cursor: pointer;
}
#bannerbtn button:hover{
    background-color: #1c1c50;
    border: none;
}
/* banner */
/* banner2 */
.banner2{
    width: 100%;
    height: 50vh;
    /* margin-top: 10px; */
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../image_folder/banner2.jpg);
}
.banner2 .content2{
    text-align: center;
    padding-top: 20px;
}
.banner2 .content2 h1{
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
.banner2 .content2 p{
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
#bannerbtn2 button{
    width: 150px;
    height: 38px;
    background: transparent;
    color: white;
    border: 2px solid white;
    transition: 0.5s ease;
    cursor: pointer;
}
#bannerbtn2 button:hover{
    background-color: #1c1c50;
    border: none;
}