.wrapper1{
    /* max-width: 120px; */
    border:1px solid rgb(255, 255, 255);
    display:flex;
    overflow-x:scroll;
     height:auto;
     margin-left:1%;
     margin-right:2%;

     /* justify-content: center; */
     /* overflow-y: hidden; */
 }
 .wrapper1::-webkit-scrollbar{
     width:0;
 }
    .item{
     min-width:150px;
     height:2%;
     line-height: 3%;
     text-align: center;
     background-color: rgb(255, 255, 255);
     margin:0 0.1%;
     /* padding:0 4%; */
     /* padding-left:10%; */

 }
 .grid-text{
    text-align: center;
 }